#footer{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 8rem;
    background-color: rgba(34, 34, 34, 0.822);
    position: absolute;
    width: 100%;
    left: 0;
    border:0;
}

#footer p{
    font-size: 1.2rem;
}

#footerA{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    border-radius: .8rem;
    background: rgba(109, 255, 138, 0.664);
}

#footerA:hover{
    background: rgba(109, 255, 138, 0.753);
    transform: scale(1.1);
    transition: ease .3s;
}

@media (max-width:365px){
    #footer{
        flex-direction: column-reverse;
    }

    #footer p{
        text-align: center;
        margin-top: 2rem;
    }
}