#nav-bar{
    display:flex;
    justify-content:flex-end;
    padding: 1rem;
    align-items: center;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 100;
    color: white;
}

a{
    text-decoration: none;
    cursor: pointer;
}

#logo{
    margin-right: auto;
}

#logo a:hover{
    color: rgb(109, 255, 138);
}


.nav-links>*{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 1rem;
}

.nav-links a:hover,
.nav-links a.active{
    text-decoration: underline;
    transition: all .2s ease-in-out;
    color: rgb(109, 255, 138);
}

/* Togo for changing between dark and light mode */
#themeTogo{
    margin: 0 0 0 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(109, 255, 138);
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#themeTogo>*{
    width:1rem;
    height: 1rem;
}

#themeTogo:hover{
    transform: scale(1.1);
}

#themeTogoButton{
    border-radius: 100%;
    background-color: rgb(109, 255, 138);
    position: absolute;
}

.theme-button.light {
    left: 2px;
}
  
.theme-button.dark {
    right: 2px;
}
  

#nav-menu-icon{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 4px 0 0 1rem;
    display: none;
}

/* Media queries */
@media (max-width:768px) {
  #nav-menu-icon{
    display: block;
  }

  .nav-links a{
    font-size: 1.5rem;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-links{
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    padding: 1rem 3%;
    display: none;
    background: rgba(34, 34, 34, 0.822);
    border-top: .1rem solid rgb(109, 255, 138);
    box-shadow: 0 .1rem .5rem rgb(109, 255, 138);
  }

  .nav-links.active{
    display: block;
  }
}