#services {
    margin-bottom: 2rem;
  }
  
  #services h2 {
    font-size: 3rem;
    margin: 1rem;
  }

  #services-container{
    max-width: 100%;
    display: grid;
    align-items: center;
    gap: 1rem;
    display: flex;
    /* flex-wrap: wrap; */
  }

  .service-card {
    padding: 4rem 2rem 3rem;
    border-radius: 1rem;
    text-align: center;
    overflow: hidden;
    background: rgba(34, 34, 34, 0.822);
  }

  .service-card:hover{
    transform: scale(1.02);
    transition: .2s ease;
    cursor:pointer;
    box-shadow: 0 0 .5rem grey;
    border: 0.1rem solid green;
  }
  
  .service-card h3 {
    font-size: 2rem;
  }
  
  .service-card p {
    margin: 1rem 0;
    font-size: 1.3rem;
  }

  @media (max-width:768px) {
    #services-container{
      flex-direction: column;
    }
  }
  /* media query 1442px and min 770px */