@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

.btn{
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: transparent;
  border-radius: .5rem;
  display: inline-block;
  transition: all .3s ease-in-out;
}

.btn.light{
  border: .1rem solid RGB(0, 100, 0);
  color: RGB(0, 100, 0);
}

.btn.dark{
  border: .1rem solid rgb(109, 255, 138);
  color: white;
}

.btn.dark:hover{
  color: rgb(109, 255, 138);
  border: .1rem solid white;
  background-color: rgba(245, 245, 220, 0.406);
}

.btn.light:hover{
  background-color: RGB(0, 100, 0);
  border: .1rem solid black;
  color: white;
}

/* Reducing the font size of all elements */
@media (max-width:1375px) {
  html{
      font-size: 80%;
  }
}

@media (max-width:1098px) {
  html{
      font-size: 70%;
  }
}

@media (max-width:965px) {
  html{
      font-size: 60%;
  }
}

@media (max-width:450px){
  html{
    font-size: 50%;
  }
}